.app {
  display: flex;
  width: 80%;
  margin: 0 auto;
  min-width: 85rem;

  @media (max-width: 991px) {
    flex-direction: column;

    & ul {
      margin-left: 0 !important;
    }
  }

  & p {
    font-size: 2rem;
    color: #212529;
    margin: 2rem;
    line-height: 3rem;
  }

  & .body {
    margin-left: 1rem;
    flex: 1;

    @media (max-width: 991px) {
      margin-left: 0 !important;
    }
  }
}
