.nav {
  position: sticky;
  top: 4px;
  padding: 1em 1.5em;
  border: 1px solid #f1f1f4;
  border-radius: 3px;
  font-size: 2rem;
  width: 25rem;

  @media (max-width: 991px) {
    width: 100%;
    margin-bottom: 2rem;
  }

  &__ul {
    list-style: none;
    padding: 0;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      display: block;
      padding: 8px 15px 8px 10px;
      margin: 5px 0;
      width: 100%;
      height: 100%;
      color: #434449;
      border-radius: 2px;
      border-left: 5px solid transparent;
    }

    &:hover {
      background: #f1f1f4;
      border-left: 5px solid transparent;
    }

    &--selected {
      background: #f1f1f4;
      border-left: 5px solid #3f51b5 !important;
    }
  }
}
